# Private key for deploying contracts
DEPLOYER_PRIVATE_KEY=9ef01f9bd02e2ee682be5c50c189720a37773ab58b5b031ebdb8489940cd01ad

# Network RPCs (defaults are already configured in hardhat.config.ts)
CREDITCOIN_TESTNET_RPC=https://rpc.cc3-testnet.creditcoin.network
CREDITCOIN_MAINNET_RPC=https://mainnet3.creditcoin.network
